In [34]:
import pandas as pd
import numpy as np


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [35]:
df = pd.read_csv('DataCoSupplyChainDataset.csv', encoding='latin1')
df.head()

       Type  Days for shipping (real)  Days for shipment (scheduled)  Benefit per order  Sales per customer   Delivery Status  Late_delivery_risk  Category Id   Category Name Customer City Customer Country Customer Email Customer Fname  Customer Id Customer Lname Customer Password Customer Segment Customer State           Customer Street  Customer Zipcode  Department Id Department Name   Latitude   Longitude        Market  Order City Order Country  Order Customer Id order date (DateOrders)  Order Id  Order Item Cardprod Id  Order Item Discount  Order Item Discount Rate  Order Item Id  Order Item Product Price  Order Item Profit Ratio  Order Item Quantity   Sales  Order Item Total  Order Profit Per Order    Order Region      Order State     Order Status  Order Zipcode  Product Card Id  Product Category Id  Product Description                                 Product Image  Product Name  Product Price  Product Status shipping date (DateOrders)   Shipping Mode
0     DEBIT                         3                              4          91.250000          314.640015  Advance shipping                   0           73  Sporting Goods        Caguas      Puerto Rico      XXXXXXXXX          Cally        20755       Holloway         XXXXXXXXX         Consumer             PR  5365 Noble Nectar Island             725.0              2         Fitness  18.251453  -66.037056  Pacific Asia      Bekasi     Indonesia              20755         1/31/2018 22:56     77202                    1360            13.110000                      0.04         180517                    327.75                     0.29                    1  327.75        314.640015               91.250000  Southeast Asia  Java Occidental         COMPLETE            NaN             1360                   73                  NaN  http://images.acmesports.sports/Smart+watch   Smart watch          327.75               0             2/3/2018 22:56  Standard Class
1  TRANSFER                         5                              4        -249.089996          311.359985     Late delivery                   1           73  Sporting Goods        Caguas      Puerto Rico      XXXXXXXXX          Irene        19492           Luna         XXXXXXXXX         Consumer             PR          2679 Rustic Loop             725.0              2         Fitness  18.279451  -66.037064  Pacific Asia     Bikaner         India              19492         1/13/2018 12:27     75939                    1360            16.389999                      0.05         179254                    327.75                    -0.80                    1  327.75        311.359985             -249.089996      South Asia         Rajastán          PENDING            NaN             1360                   73                  NaN  http://images.acmesports.sports/Smart+watch   Smart watch          327.75               0            1/18/2018 12:27  Standard Class
2      CASH                         4                              4        -247.779999          309.720001  Shipping on time                   0           73  Sporting Goods      San Jose          EE. UU.      XXXXXXXXX        Gillian        19491      Maldonado         XXXXXXXXX         Consumer             CA      8510 Round Bear Gate           95125.0              2         Fitness  37.292233 -121.881279  Pacific Asia     Bikaner         India              19491         1/13/2018 12:06     75938                    1360            18.030001                      0.06         179253                    327.75                    -0.80                    1  327.75        309.720001             -247.779999      South Asia         Rajastán           CLOSED            NaN             1360                   73                  NaN  http://images.acmesports.sports/Smart+watch   Smart watch          327.75               0            1/17/2018 12:06  Standard Class
3     DEBIT                         3                              4          22.860001          304.809998  Advance shipping                   0           73  Sporting Goods   Los Angeles          EE. UU.      XXXXXXXXX           Tana        19490           Tate         XXXXXXXXX      Home Office             CA           3200 Amber Bend           90027.0              2         Fitness  34.125946 -118.291016  Pacific Asia  Townsville     Australia              19490         1/13/2018 11:45     75937                    1360            22.940001                      0.07         179252                    327.75                     0.08                    1  327.75        304.809998               22.860001         Oceania       Queensland         COMPLETE            NaN             1360                   73                  NaN  http://images.acmesports.sports/Smart+watch   Smart watch          327.75               0            1/16/2018 11:45  Standard Class
4   PAYMENT                         2                              4         134.210007          298.250000  Advance shipping                   0           73  Sporting Goods        Caguas      Puerto Rico      XXXXXXXXX           Orli        19489      Hendricks         XXXXXXXXX        Corporate             PR  8671 Iron Anchor Corners             725.0              2         Fitness  18.253769  -66.037048  Pacific Asia  Townsville     Australia              19489         1/13/2018 11:24     75936                    1360            29.500000                      0.09         179251                    327.75                     0.45                    1  327.75        298.250000              134.210007         Oceania       Queensland  PENDING_PAYMENT            NaN             1360                   73                  NaN  http://images.acmesports.sports/Smart+watch   Smart watch          327.75               0            1/15/2018 11:24  Standard Class

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [37]:
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [38]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)', 'Benefit per order', 'Sales per customer', 'Delivery Status', 'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City', 'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id', 'Customer Lname', 'Customer Password', 'Customer Segment', 'Customer State', 'Customer Street', 'Customer Zipcode', 'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market', 'Order City', 'Order Country', 'Order Customer Id', 'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quantity', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id', 'Product Category Id', 'Product Description', 'Product Image', 'Product Name', 'Product Price', 'Product Status',
       'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [39]:
df['Department Id'].unique()

array([ 2,  4,  5,  3,  6,  7, 10,  8,  9, 11, 12], dtype=int64)

In [40]:
def get_messy_index(df_size, n_indices, seed=None):
    """Return random indices to inject messy data."""
    if seed is not None:
        np.random.seed(seed)
    return np.random.randint(0, df_size, n_indices)


def create_table(df, cols, key, table_name=None, path=None, messy_data=None, seed=None):
    """
    Create a clean or intentionally messy CSV table.

    Parameters:
    - df: source DataFrame
    - cols: list of columns to include
    - key: column(s) to drop duplicates on
    - table_name: output CSV file name (no extension)
    - path: output folder path
    - messy_data: list of dicts describing how to mess up the data
    - seed: optional random seed for reproducibility
    """
    table = df[cols].drop_duplicates(subset=key).copy()
    table.reset_index(drop=True, inplace=True)
    
    if messy_data:
        for messy in messy_data:
            col = messy.get('col')  # optional, not needed for 'duplicates'
            n_indices = min(messy.get('messy_rows_count', 0), table.shape[0])
            indices = get_messy_index(table.shape[0], n_indices, seed)

            if messy['type'] == 'nan':
                table.loc[indices, col] = np.nan

            elif messy['type'] == 'inconsistent':
                typos = messy.get('typos', {})
                table.loc[indices, col] = table.loc[indices, col].apply(
                    lambda x: typos.get(str(x), x) if pd.notnull(x) else x
                )

            elif messy['type'] == 'lowercase':
                table.loc[indices, col] = table.loc[indices, col].apply(
                    lambda x: x.lower() if pd.notnull(x) else x
                )
                
            elif messy['type'] == 'uppercase':
                table.loc[indices, col] = table.loc[indices, col].apply(
                    lambda x: x.upper() if pd.notnull(x) else x
                )

            elif messy['type'] == 'duplicates':
                # Number of duplicates to add per selected row
                dup_factor = messy.get('dup_factor', 1)

                # Select the rows to duplicate
                rows_to_duplicate = table.iloc[indices]

                # Repeat them
                duplicated_rows = pd.concat([rows_to_duplicate] * dup_factor, ignore_index=True)

                # Optional shuffle for realism
                if messy.get('shuffle', True):
                    duplicated_rows = duplicated_rows.sample(frac=1, random_state=seed).reset_index(drop=True)

                # Append duplicates to the table
                table = pd.concat([table, duplicated_rows], ignore_index=True)

                print(f"Added {len(duplicated_rows)} duplicate rows")

            else:
                print(f"Warning: Unknown messy type '{messy['type']}' — skipped.")


    # Save final version
    table.to_csv(f'{path}/{table_name}.csv', index=False, encoding='utf-8-sig')
    print(f"Saved table '{table_name}' with {len(table)} rows to {path}")
    return table

# Customers

In [41]:
messy_customers = [
    {
        'type': 'inconsistent',
        'col': 'Customer Segment',
        'messy_rows_count': 500,
        'typos': {'Consumer': ' consumer ', 'Home Office': ' home office '}
    },
    {
        'type': 'lowercase',
        'col': 'Customer Fname',
        'messy_rows_count': 10000
    },
    {
        'type': 'lowercase',
        'col': 'Customer Lname',
        'messy_rows_count': 10000
    },
    {
        'type': 'duplicates',
        'messy_rows_count': 112,  # Select 100 random customers
        'dup_factor': 1           # Add 1 duplicate for each
    }
]

customers_df = create_table(
    df=df,
    cols = ['Customer Id', 'Customer Fname', 'Customer Lname', 'Customer Email', 'Customer Password', 'Customer Segment', 'Customer Zipcode'],
    key = ['Customer Id'],
    table_name = 'customers',
    path = 'CRM',
    messy_data=messy_customers,
    seed=42
)

Added 112 duplicate rows
Saved table 'customers' with 20764 rows to CRM

In [42]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20764 entries, 0 to 20763
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer Id        20764 non-null  int64
 1   Customer Fname     20764 non-null  object
 2   Customer Lname     20756 non-null  object
 3   Customer Email     20764 non-null  object
 4   Customer Password  20764 non-null  object
 5   Customer Segment   20764 non-null  object
 6   Customer Zipcode   20761 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.1+ MB

In [43]:
customers_df['Customer Segment'].unique()

customers_df['Customer Segment'].isin([' consumer ', ' home office ']).sum()

439

In [44]:
customers_df.duplicated().sum()

112

In [45]:
customers_df.head(10)

   Customer Id Customer Fname Customer Lname Customer Email Customer Password Customer Segment  Customer Zipcode
0        20755          Cally       Holloway      XXXXXXXXX         XXXXXXXXX         Consumer             725.0
1        19492          irene           luna      XXXXXXXXX         XXXXXXXXX         Consumer             725.0
2        19491        gillian      maldonado      XXXXXXXXX         XXXXXXXXX         Consumer           95125.0
3        19490           Tana           Tate      XXXXXXXXX         XXXXXXXXX      Home Office           90027.0
4        19489           Orli      Hendricks      XXXXXXXXX         XXXXXXXXX        Corporate             725.0
5        19488       Kimberly        Flowers      XXXXXXXXX         XXXXXXXXX         Consumer           14150.0
6        19487      Constance        Terrell      XXXXXXXXX         XXXXXXXXX      Home Office             725.0
7        19486          Erica        Stevens      XXXXXXXXX         XXXXXXXXX        Corporate           33162.0
8        19485        Nichole          Olsen      XXXXXXXXX         XXXXXXXXX        Corporate             725.0
9        19484          oprah       delacruz      XXXXXXXXX         XXXXXXXXX        Corporate           94583.0

# Departments

In [46]:
store_departments_df = create_table(
    df=df,
    cols = [ 'Department Id', 'Department Name'],
    key = 'Department Id',
    table_name = 'departments',
    path = 'ERP'
)

store_departments_df.info()

Saved table 'departments' with 11 rows to ERP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department Id    11 non-null     int64
 1   Department Name  11 non-null     object
dtypes: int64(1), object(1)
memory usage: 308.0+ bytes

# Locations

In [47]:
df['Latitude'] = df['Latitude'].round(8)
df['Longitude'] = df['Longitude'].round(8)

df['Customer Street'] = df['Customer Street'].str.strip()
df['Customer City'] = df['Customer City'].str.strip()
df['Customer State'] = df['Customer State'].str.strip()

In [48]:
store_locations_df = create_table(
    df=df,
    cols = ['Customer Country', 'Customer State', 'Customer City',
        'Customer Street', 'Latitude', 'Longitude'],
    key = ['Customer State', 'Customer City', 'Customer Street'],
    table_name = 'locations',
    path = 'ERP'
)

store_locations_df.info()

Saved table 'locations' with 11469 rows to ERP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11469 entries, 0 to 11468
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer Country  11469 non-null  object
 1   Customer State    11469 non-null  object
 2   Customer City     11469 non-null  object
 3   Customer Street   11469 non-null  object
 4   Latitude          11469 non-null  float64
 5   Longitude         11469 non-null  float64
dtypes: float64(2), object(4)
memory usage: 537.7+ KB

In [68]:
store_locations_df[store_locations_df.duplicated(subset = ['Latitude', 'Longitude'], keep=False)].sort_values(by=['Customer State', 'Customer City'])

      Customer Country Customer State Customer City              Customer Street   Latitude   Longitude
10930          EE. UU.          91732            CA                     El Monte  34.071892 -118.013886
5055           EE. UU.             AL    Birmingham        3579 Round Dale Woods  33.620781  -86.680969
6793           EE. UU.             AL    Birmingham             6595 Old Private  33.620781  -86.680969
7932           EE. UU.             AL    Birmingham              1575 Foggy Cape  33.620781  -86.680969
3211           EE. UU.             AR        Conway              7786 Quiet Mall  35.091896  -92.434547
...                ...            ...           ...                          ...        ...         ...
1579           EE. UU.             WV   Martinsburg  7314 Grand Treasure Highway  39.455711  -77.969177
3411           EE. UU.             WV   Martinsburg         7773 Merry Autoroute  39.455711  -77.969177
4443           EE. UU.             WV      Wheeling          1397 Colonial Point  40.063980  -80.721413
8173           EE. UU.             WV      Wheeling           4101 Crystal Range  40.063980  -80.721413
10850          EE. UU.             WV      Wheeling        7577 Merry Expressway  40.063980  -80.721413

[4957 rows x 6 columns]

# Order Headers

In [50]:

order_headers_df = create_table(
    df=df,
    cols = [
            'Order Id', 'Order Customer Id', 'order date (DateOrders)', 
            'Order Status', 'Type', 'Market', 'Order Region', 'Order Country', 'Order State', 'Order City',
            'Order Zipcode', 'Customer State', 'Customer City', 'Customer Street'],
    key = 'Order Id',
    table_name='order_headers',
    path='ERP'
)
order_headers_df.info()

Saved table 'order_headers' with 65752 rows to ERP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65752 entries, 0 to 65751
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order Id                 65752 non-null  int64
 1   Order Customer Id        65752 non-null  int64
 2   order date (DateOrders)  65752 non-null  object
 3   Order Status             65752 non-null  object
 4   Type                     65752 non-null  object
 5   Market                   65752 non-null  object
 6   Order Region             65752 non-null  object
 7   Order Country            65752 non-null  object
 8   Order State              65752 non-null  object
 9   Order City               65752 non-null  object
 10  Order Zipcode            8270 non-null   float64
 11  Customer State           65752 non-null  object
 12  Customer City            65752 non-null  object
 13  Customer Street          65752 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 7.0+ MB

In [51]:
order_headers_df['Order Status'].unique()

array(['COMPLETE', 'PENDING', 'CLOSED', 'PENDING_PAYMENT', 'CANCELED',
       'PROCESSING', 'SUSPECTED_FRAUD', 'ON_HOLD', 'PAYMENT_REVIEW'],
      dtype=object)

# Order Items

In [52]:
messy_item = [
    {
        'type': 'nan',
        'col': 'Sales',
        'messy_rows_count': 1623 
    }
]

order_items_df = create_table(
    df=df,
    cols = [
        'Order Item Id', 'Order Id', 'Order Item Cardprod Id', 'Department Id', 'Order Item Quantity', 
        'Order Item Product Price', 'Order Item Discount', 'Order Item Discount Rate', 
        'Order Item Total', 'Benefit per order', 'Order Item Profit Ratio', 'Sales',
        'Order Profit Per Order', 'Sales per customer'
    ],
    key = 'Order Item Id',
    table_name='order_items',
    messy_data=messy_item,
    path='ERP'
)
order_items_df.info()

Saved table 'order_items' with 180519 rows to ERP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Order Item Id             180519 non-null  int64
 1   Order Id                  180519 non-null  int64
 2   Order Item Cardprod Id    180519 non-null  int64
 3   Department Id             180519 non-null  int64
 4   Order Item Quantity       180519 non-null  int64
 5   Order Item Product Price  180519 non-null  float64
 6   Order Item Discount       180519 non-null  float64
 7   Order Item Discount Rate  180519 non-null  float64
 8   Order Item Total          180519 non-null  float64
 9   Benefit per order         180519 non-null  float64
 10  Order Item Profit Ratio   180519 non-null  float64
 11  Sales                     178899 non-null  float64
 12  Order Profit Per Order    180519 non-null  float64
 13  Sales per customer        180519 non-null  float64
dtypes: float64(9), int64(5)
memory usage: 19.3 MB

In [53]:
multi_items_orders = order_items_df['Order Id'].value_counts()
multi_items_orders = multi_items_orders[multi_items_orders > 1].index
multi_items_orders

Index([48880,  3605, 28265, 50037, 27861, 23412, 27068, 27717, 47273, 27914,
       ...
       33525, 28544, 24334, 40908, 19731, 54234, 35889, 28151, 13785,  6934], dtype='int64', name='Order Id', length=45902)

In [54]:
multi_items_orders = order_items_df[order_items_df['Order Id'].isin(multi_items_orders)]
multi_items_orders.sort_values(by='Order Id').head()

        Order Item Id  Order Id  Order Item Cardprod Id  Department Id  Order Item Quantity  Order Item Product Price  Order Item Discount  Order Item Discount Rate  Order Item Total  Benefit per order  Order Item Profit Ratio       Sales  Order Profit Per Order  Sales per customer
87884               4         2                     403              4                    1                129.990005                22.10                      0.17        107.889999          36.470001                     0.34  129.990005               36.470001          107.889999
77011               2         2                    1073              7                    1                199.990005                 6.00                      0.03        193.990005          91.180000                     0.47  199.990005               91.180000          193.990005
109322              3         2                     502              5                    5                 50.000000                22.50                      0.09        227.500000          68.250000                     0.30  250.000000               68.250000          227.500000
114915              8         4                    1014              7                    4                 49.980000                39.98                      0.20        159.940002          33.590000                     0.21  199.919998               33.590000          159.940002
63764               5         4                     897              6                    2                 24.990000                 9.00                      0.18         40.980000           4.100000                     0.10   49.980000                4.100000           40.980000

# Shipping

In [55]:
shipping_df = create_table(
    df=df,
    cols = [
    'Order Id', 'shipping date (DateOrders)', 'Shipping Mode', 
    'Days for shipping (real)', 'Days for shipment (scheduled)', 
    'Delivery Status', 'Late_delivery_risk'
],
    key = 'Order Id',
    table_name = 'shipping',
    path='ERP'
)
shipping_df.info()

Saved table 'shipping' with 65752 rows to ERP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65752 entries, 0 to 65751
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Order Id                       65752 non-null  int64
 1   shipping date (DateOrders)     65752 non-null  object
 2   Shipping Mode                  65752 non-null  object
 3   Days for shipping (real)       65752 non-null  int64
 4   Days for shipment (scheduled)  65752 non-null  int64
 5   Delivery Status                65752 non-null  object
 6   Late_delivery_risk             65752 non-null  int64
dtypes: int64(4), object(3)
memory usage: 3.5+ MB

In [56]:
shipping_df['Delivery Status'].unique()

array(['Advance shipping', 'Late delivery', 'Shipping on time',
       'Shipping canceled'], dtype=object)

# Products

In [57]:
messy_products = [
    {
        'type': 'nan',
        'col': 'Category Id',
        'messy_rows_count': 22 
    }
]

products_df = create_table(
    df=df,
    cols = [
    'Product Card Id', 'Product Name', 'Product Price', 'Product Status', 
    'Product Description', 'Product Image', 'Category Id'
],
    key = 'Product Card Id',
    table_name='products',
    path='ERP',
    messy_data=messy_products,
    seed=123
)
products_df.info()

Saved table 'products' with 118 rows to ERP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product Card Id      118 non-null    int64
 1   Product Name         118 non-null    object
 2   Product Price        118 non-null    float64
 3   Product Status       118 non-null    int64
 4   Product Description  0 non-null      float64
 5   Product Image        118 non-null    object
 6   Category Id          98 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 6.6+ KB

In [58]:
products_df['Product Status'].unique()

array([0], dtype=int64)

# Categories

In [59]:
categories_df = create_table(
    df=df,
    cols = [
     'Category Id', 'Category Name'
],
    key = 'Category Id',
    table_name='categories',
    path='ERP'
)
categories_df.info()

Saved table 'categories' with 51 rows to ERP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Category Id    51 non-null     int64
 1   Category Name  51 non-null     object
dtypes: int64(1), object(1)
memory usage: 948.0+ bytes

In [60]:
df['Category Name'].nunique()

50

In [61]:
categories_df[categories_df.duplicated(subset='Category Name', keep=False)]

   Category Id Category Name
4           13   Electronics
8           37   Electronics

In [62]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)', 'Benefit per order', 'Sales per customer', 'Delivery Status', 'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City', 'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id', 'Customer Lname', 'Customer Password', 'Customer Segment', 'Customer State', 'Customer Street', 'Customer Zipcode', 'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market', 'Order City', 'Order Country', 'Order Customer Id', 'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quantity', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id', 'Product Category Id', 'Product Description', 'Product Image', 'Product Name', 'Product Price', 'Product Status',
       'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [63]:
df['order date (DateOrders)'] = pd.to_datetime(df['order date (DateOrders)'])
df['shipping date (DateOrders)'] = pd.to_datetime(df['shipping date (DateOrders)'])

In [64]:
calculated_days = (df['shipping date (DateOrders)'] - df['order date (DateOrders)']).dt.days

In [65]:
(calculated_days == df['Days for shipping (real)']).sum()

175862

In [66]:
(calculated_days == df['Days for shipment (scheduled)']).sum()

38410

In [67]:
df.Type.unique()

array(['DEBIT', 'TRANSFER', 'CASH', 'PAYMENT'], dtype=object)